[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
psycopg2 = "*"
python-dotenv = "*"
gunicorn = "*"
requests = "*"
flask-login = "*"
flask-bcrypt = "*"
flask-migrate = "*"
python-decouple = "*"
uuid = "*"
flask-jwt-extended = "*"
flask-mail = "*"
pytest = "*"
pytest-cov = "*"
requests-mock = "*"

[scripts]
dev="flask run"
coverage="pytest --cov-report term-missing --cov=."

[dev-packages]

[requires]
python_version = "3.11"
